<!-- success_message -->
{{#if success_msg}}
<div class="alert alert-success" role="alert" data-dismiss="alert">{{success_msg}}</div>
{{/if}}
<!-- error_message-->
{{#if error_msg}}
<div class="alert alert-danger" data-auto-dismiss="2000">{{error_msg}}</div>
{{/if}}
